{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
   <!-- Main -->

   <div class="bg-dark-night   px-5 px-sm-3 ">
        <!-- Header Section-->
    <div class="header align-items-center grid-2 gap-1 vh-100 ">
        <!-- Left -->
        <div class="left">
            <h2 class="text-green">Hey!</h2>
            <h1 class="text-light">
                <span class="text-dark-yellow">I'm  Khamraev Amir</span>
                <br>
                a  Fullstack Web Developer.</span>
            </h1>
            <p class="text-dark-light fs-17">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque veniam placeat earum quia nesciunt similique sunt, assumenda fugiat possimus blanditiis?
            </p>
            <div class="social-links d-flex  align-items-center mt-4">
                <span class="text-white mr-3">Follow me</span>
                <div class="d-flex align-items-center">
                    <a href=""><i class='bx bxl-instagram '></i></a>
                    <a href=""><i class='bx bxl-telegram mx-2'></i></a>
                    <a href=""><i class='bx bxl-vk'></i></a>
                </div>
            </div>
            <div class="d-flex flex-wrap mt-5">
                <button class="btn mb-sm-3 btn-md btn-green rounded-1 b-1 mr-3 ">About me</button>
                <button class="btn  btn-md btn-yellow rounded-1 b-1">Dowload my CV</button>
            </div>
        </div>
        <!-- Right -->
        <div class="right">
            <img src="{% static 'me.JPG' %}" class="d-block ml-auto d-sm-none" alt="">
        </div>
    </div>
    <!-- About Section -->
    <div class="p-5 p-sm-3 about-section fs-17 rounded-2 bg-dark-ocean  rounded-1">   
        <div class="d-flex  flex-wrap justify-content-between">
            <!-- Left -->
            <img src="{% static 'me.JPG' %}" class="w-30 w-sm-100" alt="">
            <!-- Right -->
            <div class="about-detail w-65 w-sm-100 ">
                <div class="grid-2 gap-2">
                    <div class="projects-number">
                        <span class="text-light b-2 fs-60 fs-sm-40">24</span>
                        <span class="text-green b-3 fs-60 fs-sm-40">+</span>
                        <div class="text-light text fs-sm-25">Completed projects</div>
                    </div>
                </div>
                <div class="heading text-white b-1 mt-4 fs-45 fs-sm-30">Glad to Help You!</div>
                <p class="text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos consequatur corporis tempore eaque vitae quaerat modi porro inventore neque, quo quos quia doloribus illum aspernatur dicta dolorum tenetur distinctio quas sequi cumque? Ipsa possimus quos blanditiis autem porro omnis quisquam modi vel nihil corporis illo, quis pariatur molestias nam perspiciatis.
                </p>
            </div>
        </div>
    </div>
   </div>

{% endblock %}